body {
    background-image: linear-gradient(160deg, rgb(0, 7, 27), rgb(20,30,80));
}

h1 {
    text-align: center;
    background-image: linear-gradient(to right, rgba(0, 100, 130,255), rgba(0, 0, 230,0));
    border-radius: 3px;
}

a:hover {
    color:rgb(0, 199, 0);
}

h2,p,ul,table {
    color:rgb(255, 255, 255)
}

hr {
    background-image: linear-gradient(to right, rgba(255,255,255,255), rgba(255,255,255,0));
    height: 1px;
    border: 0;
}

code {
    color: red;
}

li {
    list-style-type: square;
}

table,td,th {
    border: 1px solid white;
    border-collapse: collapse;
    padding: 5px;
}

table {
    width: 100%;
}

tr:nth-child(even) {
    background-color: rgb(5,10,30);
}